---
const figures = [
  {
    title: "45",
    description: "Años de experiencia",
  },
  {
    title: "40",
    description: "Países alrededor del mundo",
  },
  {
    title: "20",
    description: "Departamentos en Colombia",
  },
];
---

<section class="relative mx-auto max-w-[80%] flex justify-between -mt-20">
  {
    figures.map(({ title, description }) => (
      <article class="flex justify-center items-center bg-white w-[350px] h-[300px] shadow-lg px-4 rounded-sm">
        <header class="absolute top-0 flex items-center justify-center bg-purple-800 rounded-full size-34 mx-auto -mt-16">
          <h2 class="text-white font-semibold text-6xl">{title}</h2>
        </header>
        <p class="text-center text-3xl text-gray-600 font-medium">
          {description}
        </p>
      </article>
    ))
  }
</section>
