---
import FiguresCard from "./FiguresCard.astro";
import Hero from "./Hero.astro";
import LifeStories from "./LifeStories.astro";
import News from "./News.astro";
import Sponsors from "./Sponsors.astro";
---

<Hero />
<section class="max-w-11/12 mx-auto">
  <FiguresCard />
  <News />
  <LifeStories />
</section>
<Sponsors />
