---
const news = [
  {
    title: "JovenPro me alentó a seguir mis sueños",
    image: "./life-stories.webp",
    link: "#",
  },
  {
    title: "Voy con todo, el cielo es el límite",
    image: "./life-stories.webp",
    link: "#",
  },
  {
    title: "Emprender, un camino de oportunidades",
    image: "./life-stories.webp",
    link: "#",
  },
  {
    title: "Ahorrar no solo es guardar dinero, es invertir",
    image: "./life-stories.webp",
    link: "#",
  },
];
---

<section class="py-28">
  <h2 class="section-title">HISTORIAS DE VIDA</h2>
  <main class="flex justify-center items-center gap-x-12">
    {
      news.map(({ title, image, link }) => (
        <a class="rounded-lg overflow-hidden group odd:mt-32" href={link}>
          <article class="flex justify-center items-center relative">
            <img
              loading="lazy"
              src={image}
              alt={title}
              class="w-full h-full object-cover aspect-[2/3] group-hover:translate-y-8 group-hover:scale-110 transition-all duration-500"
            />
            <div class="flex items-center justify-center h-full w-full bg-purple-900/80 group-odd:bg-gray-600/80 absolute group-hover:top-0 group-hover:opacity-100 opacity-0 -top-full px-12 py-8 transition-all duration-500">
              <h3 class="text-white text-3xl">{title}</h3>
            </div>
          </article>
        </a>
      ))
    }
  </main>
</section>
