---
import "@fontsource-variable/montserrat";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <ClientRouter />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Inicio - Mercy Corps</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
