---
import "@fontsource-variable/montserrat";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <title>Inicio - Mercy Corps</title>
    <meta charset="UTF-8" />

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <ClientRouter />

    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Inicio - Mercy Corps" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="" />
    <meta property="twitter:url" content="" />
    <meta name="twitter:title" content="Inicio - Mercy Corps" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <Navbar />
    <main class="min-h-screen min-w-full bg-gray-100">
      <slot />
    </main>
    <Footer />
  </body>
</html>
