---
import Navbar from "./Navbar.astro";
import "../styles/global.css";
import "@fontsource-variable/montserrat";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Inicio - Mercy Corps</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
